# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
#Ignore user specific Intellij files
source/.idea/workspace.xml
source/.idea/tasks.xml
